* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    display: flex;
    padding: 10px 0px;
    z-index: 9998;
    background-color: var(--main-color-02);
    /* background-color: var(--landing-bg); */
}

.logo img {
    width: 20%;
    padding: 0.2rem .5rem;
}

.logo {
    width: 45%;
}

.nav-menu {
    display: flex;
}

ul {
    list-style: none;
}

li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    padding: 7px 1px;
    text-align: center;
}

li a {
    color: var(--lg-font);
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 1s;
}

li::after {
    content: '';
    background-color: var(--lg-font);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    transition: width .5s;
}

li a:hover {
    color: var(--main-color-03);
    font-size: 1.2rem;
    font-weight: 500;
}

li:hover::after {
    width: 100%;
    background-color: var(--main-color-03);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 4rem;
}

.sticky ul {
    list-style-type: none;
    padding: 0;
}

.sticky ul li {
    display: inline-block;
    width: 100px;
}

.active {
    /* background: var(--tr-bg); */
}

.active a {
    color: var(--main-color-03);
    font-weight: 700;
    font-size: 1.2rem;
    padding: .5rem;
}

@media only screen and (max-width: 999px) {
    .sticky {
        padding: 1.15rem;
    }
    .logo {
        width: 90%;
        z-index: 9999;
    }
    .logo img {
        /* margin-left: -140px; */
        width: 25%;
    }
    .menu {
        position: absolute;
        right: 0px;
        /* right: 0; */
        top: 0px;
        /* Height of menu adjust here  */
        width: 0px;
        height: 100vh;
        /* 1 part 6% ,5 list-item then 30% */
        background: #222;
        transition: 0.4s ease-in-out;
        /* menu open close transition */
        z-index: 10;
        /* To adjust menu  */
        opacity: 0.92;
        align-items: center;
        /* diluting opacity of menu-list  */
    }
    .menu ul li {
        display: none;
        /* making vertical home,about, etc */
        text-align: left;
        margin: 1rem auto;
        padding: 50px 0 10px 26px;
        opacity: 0.92;
        z-index: 10;
        cursor: pointer;
        /* diluting opacity of menu-list  */
    }
    .menu_icon {
        display: inline-block;
        position: relative;
        right: 0;
        top: 7px;
        z-index: 9999;
    }
    .menu_icon span {
        width: 32px;
        height: 3px;
        background: var(--lg-font);
        display: block;
        transition: 0.2s ease-in-out;
    }
    .menu_icon span:nth-child(2) {
        margin: 4px 0;
    }
    .menu_icon_Class span:nth-child(2) {
        display: none;
    }
    /* creating cross sign using css  */
    .menu_icon_Class span:nth-child(1) {
        transform: rotate(40deg);
    }
    .menu_icon_Class span:nth-child(3) {
        transform: rotate(-40deg);
        margin-top: -3px;
    }
    .menuClass {
        right: 0;
        display: block;
        width: 100vw;
        transition: 0.4s ease-in-out;
        padding: 1rem 0;
    }
    .menuClass ul li {
        display: block;
        text-align: center;
    }
    li::after {
        left: .8rem;
    }
    .active {
        background: transparent;
    }
}