<footer>

    <div class="footer-container">
        <div class="descr">
            <h5>Easy-Q</h5>
            <p>EasyQ is an AI based responsive web application to help you Create and Manage Question Banks effectively.</p>
        </div>
        <div class="list">
            <ul>
                <li><a href="">Features</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Blogs</a></li>
            </ul>
        </div>
        <div class="socials">
            <form action="">
                <input type="text" placeholder="Email">
                <button>Subscribe</button>
            </form>
            <section>
                <h6>Follow us</h6>
                <ul>
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">LinkedIn</a></li>
                    <li><a href="">Github</a></li>
                </ul>
            </section>
            <!-- <section class="">
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fa-brands fa-facebook"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
            </section> -->
        </div>
    </div>
    <hr>
    <div class="ft-2">
        <p>Privacy Policy | Copyright © 2022</p>
    </div>
</footer>