<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Easy-Q</title>
</head>


<body>
    <!-- <app-header></app-header> -->
    <div class="welcome">

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="5000">
                    <div class="slider-content">
                        <div id="cir-01"></div>
                        <div id="cir-02"></div>
                        <div id="cir-03"></div>
                        <div class="content">
                            <div class="text-content">
                                <h1 class="">AI Powered</h1>
                                <p class="">Question and Answer Generation Tool
                                </p>
                                <button><a href="/about">Learn More</a></button>
                            </div>
                            <div class="img-content">
                                <img src="../../assets/lp-01.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <div class="slider-content">
                        <div id="cir-01"></div>
                        <div id="cir-02"></div>
                        <div id="cir-03"></div>
                        <div class="content">
                            <div class="text-content">
                                <h1 class="">Easy Question Generation</h1>
                                <p class="">Generate Question Sets with just few Clicks!</p>
                            </div>
                            <div class="img-content">
                                <img src="../../assets/lp-02.svg" alt="" height="70%">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <div class="slider-content">
                        <div id="cir-01"></div>
                        <div id="cir-02"></div>
                        <div id="cir-03"></div>
                        <div class="content">
                            <div class="text-content">
                                <h1 class="">Join now !</h1>
                                <p class="">Click below to Get Started.
                                </p>
                                <button><a href="/signup">Sign Up</a></button>
                            </div>
                            <div class="img-content">
                                <img src="../../assets/lp-01.svg" alt="">
                            </div>
                        </div>

                    </div>

                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <div class="slider-content">
                        <div id="cir-01"></div>
                        <div id="cir-02"></div>
                        <div id="cir-03"></div>
                        <div class="content">
                            <div class="text-content">
                                <h1>Highly Responsive</h1>
                                <!-- <h1 class="">Managing question banks effectively</h1>
                                <p class="">User can generate questions for their content and view it.</p> -->
                                <!-- <button><a href="/signup">Sign Up</a></button> -->
                            </div>
                            <div class="img-content">
                                <img src="../../assets/lp-03.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
        </div>
    </div>
    <app-typing-anim></app-typing-anim>
    <!-- <app-footer></app-footer> -->
</body>

</html>