<body>
    <div class="c-line"></div>
    <div class="abt-container">
        <div class="ab-title">
            <div class="img">
                <img src="../../assets/abt-device.svg" alt="">
            </div>
            <div class="text">
                <label for="" class="water-mark">EASYQ</label>
                <h3 class="">About</h3>
                <p>EasyQ is an AI based responsive web application to help you Create and Manage Question Banks effectively.</p>
            </div>
        </div>
        <div class="features">
            <div class="ft-title">
                <div class="line"></div>
                <label for="" class="water-mark ">EASYQ</label>
                <h3 class="">Features</h3>
                <img src="../../assets/undraw_product_iteration_kjok.svg" alt="">

            </div>

            <div class="cards-list">

                <div class="card-ft 1">
                    <div class="card_image"></div>
                    <div class="card_title title-black">
                        <p>Creates Question Bank with just few Clicks.</p>
                    </div>
                </div>

                <div class="card-ft 2">
                    <div class="card_image"></div>
                    <div class="card_title title-black">
                        <p>Generates wide variety of Questions.</p>
                    </div>
                </div>

                <div class="card-ft 3">
                    <div class="card_image"></div>
                    <div class="card_title">
                        <p>Helps to Manage Question Banks Effectively.</p>
                    </div>
                </div>

                <div class="card-ft 4">
                    <div class="card_image"></div>
                    <div class="card_title title-black">
                        <p>Supports mobile-view as well.</p>
                    </div>
                </div>

            </div>

        </div>
        <div class="about-us">

            <div class="team">
                <div class="tm-title">
                    <h3 class="text-center mb-4 mt-4"><i class="fa-solid fa-people-group"></i> Our Team</h3>
                </div>
                <div class="row members">

                    <div class="column">
                        <div class="card">
                            <img src="/assets/hakker1.jpeg" alt="pranita.jpg" style="width:100%">
                            <div class="container">
                                <h5 class="">Pranita</h5>

                                <p>Backend Developer</p>
                                <!-- <p>pranita@example.com</p> -->
                                <p><button class="button">Contact</button></p>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <img src="/assets/hakker1.jpeg" alt="jiya.jpg" style="width:100%">
                            <div class="container">
                                <h5>Jiya</h5>

                                <p>Frontend Developer</p>
                                <!-- <p>jiya@example.com</p> -->
                                <p><button class="button">Contact</button></p>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <img src="/assets/hakker.jpeg" alt="dinesh.jpeg" style="width:100%">
                            <div class="container">
                                <h5>Dinesh</h5>

                                <p>Frontend Developer</p>
                                <!-- <p>dinesh@example.com</p> -->
                                <p><button class="button">Contact</button></p>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <img src="/assets/hakker.jpeg" alt="bobby.jpg" style="width:100%">
                            <div class="container">
                                <h5>Bobby</h5>

                                <p>Backend Developer</p>
                                <!-- <p>Bobby@example.com</p> -->
                                <p><button class="button">Contact</button></p>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="card">
                            <img src="/assets/hakker.jpeg" alt="aniket.jpg" style="width:100%">
                            <div class="container">
                                <h5>Aniket</h5>

                                <p>Frontend Developer</p>
                                <!-- <p>aniket@example.com</p> -->
                                <p><button class="button">Contact</button></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>