/* we use ng-directives for styling our forms */

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #f3231f;
    /* red */
}


/* romiving unwanted gap from right  */

.row {
    margin: 5rem auto;
}

.bg-cls {
    padding: 1.5rem;
    background-color: var(--color);
}

form div a {
    text-decoration: none;
    margin-left: -25px;
}

.flex-items {
    display: flex;
}

.align-right {
    margin-left: 5rem;
}

.sign-btn {
    width: 12rem;
}

.form-check-label {
    float: right;
}

.new-acc {
    margin-top: 2rem;
}

.new-acc a {
    margin-left: .5rem;
}


/* .btn-primary {
    background-color: var(--light-shade);
} */